include MANIFEST.in
include README.rst
recursive-include docs *
recursive-include flatpages_filer/templates *
recursive-include flatpages_filer/fixtures *
exclude *.wpr *.wpu .DS_Store 
# added by check_manifest.py
include *.py
include *.sh
